{% extends 'base.html.twig' %}

{% block title %} Liste des Quiz {% endblock %}

{% block body %}
    <h1>Liste des Quiz</h1>
    {% if allQuizz is empty %}
        <p>Aucun quiz disponible pour le moment.</p>
    {% else %}
        <ul>
            {% for quiz in allQuizz %}
                <li>
                    <a href="{{ path('quiz_question', { quizId: quiz.id, questionIndex: 0 }) }}">{{ quiz.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{{ path('quiz_create') }}">Créer un quiz</a>

    {% if app.user %}
        <a href="{{ path('app_logout') }}">Déconnexion</a>
    {% endif %}
{% endblock %}
