{% extends 'base.html.twig' %}

{% block title %} Résultats du Quiz {% endblock %}

{% block body %}
    <h1>Résultats du Quiz : {{ quiz.title }}</h1>
    <p>Score : {{ score }} / {{ totalQuestions }}</p>
    <a href="{{ path('quiz') }}">Retour aux quiz</a>
{% endblock %}
